body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 200px;
    background-color: #333333;
    color: #D3D3D3;
    
    
}
h1 {
    text-align: center;
    background-color: darkcyan;
    color: ivory;
    border: 7px double ivory;
    padding: 10px 10px ;
    margin: 10px 200px;
    border-radius: 15px;

}
h2 { text-align: center;
    border: 2px solid #D3D3D3;
    padding: 10px 10px ;
    border-radius: 15px;
    margin: 10px 400px;
    background-color: darkcyan;
    color:ivory;
    
}


p {
    text-align: center;
    padding: 10px 150px;
    line-height: 1.5em;

}

a {
    text-decoration: none;
    color:ivory;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #D3D3D3;
}
.main-list {
    color:#D3D3D3;
    border: 3px solid darkcyan;
    border-radius: 15px;
    margin: 10px 400px 10px 400px;
    padding: 10px;
    list-style: none ;
    text-align: center;
    line-height: 1.5em;

}

h3 {
    display: inline;
    margin: 0px 200px;
}

.inventory {
    margin: 10px 200px 10px 200px;
    line-height: 1.5em;
}

.button {
    background-color: darkcyan;
    color: ivory;
    border-radius: 7px;
   margin-left: 500px;
}

.button:hover {
    color: lawngreen;
}

.button:active{
    transform: scale(0.98);
}

.bags{
    height: 200px;
    border: 3px solid darkcyan;
    border-radius: 15px;
    margin: 5px;
}

.weather {
    border-radius: 15px;
    text-align: center;
    margin: 20px;
}

.my-form {
    padding: 20px;
}

.my-form .formGroup {
    padding-bottom: 15px;
}

.my-form label{ 
    display: block;
    margin: 5px 225px;
}

.my-form input[type="text"] {
    padding: 8px;
    width: 50%;
    border-radius: 7px;
    margin: 5px 250px;

}
.my-form input[type="password"] {
    padding: 8px;
    width: 50%;
    border-radius: 7px;
    margin: 5px 250px;

}

.my-form textarea{
    padding: 8px;
    width: 50%;
    height: 100px;
    border-radius: 7px;
    margin: 5px 250px;
}

.block {
    float: left;
}


#sent   {
    text-align: center;
}

.my-form2 {
    padding: 20px;
    display: inline;
    
}

.my-form2 .form-group2 {
    padding-bottom: 15px;
    padding-left: 100px;
    display: inline;
}

.my-form2 label{ 
    display: block;
    margin: 5px;
    display: inline;
}

.my-form2 input[type="text"] {
    padding: 8px;
    width: 25%;
    border-radius: 7px;
    margin: 5px;
    display: inline;

}

.login {
    background-color: darkcyan;
    color: ivory;
    border-radius: 7px;
  
}

.login:hover {
    color: lawngreen;
    
}

.register {
    background-color: darkcyan;
    color: ivory;
    border-radius: 7px;
    margin-left: 47%;
  
}

.register:hover {
    color: lawngreen;
}

.my-form3 {
    padding: 20px;
}

.my-form3 .form-group3 {
    padding-bottom: 15px;
}

.my-form3 label{ 
    display: block;
    margin: 5px 225px;
}

.my-form3 input[type="text"] {
    padding: 8px;
    width: 50%;
    border-radius: 7px;
    margin: 5px 250px;

}

.my-form3 input[type="password"] {
    padding: 8px;
    width: 50%;
    border-radius: 7px;
    margin: 5px 250px;

}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success{
    color: green;
}
.form__message--error{
    color: red;
}

/*.form__input{
    border-color: green;
}*/

.form__input--error{
    color: red;
    border-color: red;
}

.form__input-error-message{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    color: red;
    text-align: center;
}
.form__input-success-message{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    color: green;
    text-align: center;
}

.form--hidden{
    display: none;
}

.checkbox {
    margin-left: 250px;
}