body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ececec;
    color:rgb(5, 82, 82);
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

#the-title {
    width: 100%;
    margin-top: 0px;
    padding: 10px 0px;
}

#title-background {
    width: 100%;
    background-color: rgb(5, 82, 82);
    padding: 0px;
}

h1 {
    text-align: center;
    color: ivory;
}

h2 { text-align: center;
    color:rgb(5, 82, 82);
}

p {
    text-align: center;
    line-height: 1.5rem;
    margin: 24px 24px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color:white;
}

a:hover {
    text-decoration: underline;
}

.main-list {
    color:#D3D3D3;
    border: 3px solid rgb(1, 139, 139);
    border-radius: 15px;
    margin: 10px 400px 10px 400px;
    padding: 10px;
    list-style: none ;
    text-align: center;
    line-height: 1.5em;
}

h3 {
    text-align: center;
}

.inventory {
    margin: 10px 200px 10px 200px;
    line-height: 1.5em;
}

.button {
    background-color: darkcyan;
    color: ivory;
    border-radius: 7px;
}

nav {
    text-align: center;
    margin-top: 25px;
}

ul {
    padding: 0px;
}

.inline {
    display: inline;
    background-color: darkcyan;
    color: ivory;
    border-radius: 7px;
    padding: 5px;
    font-size: 24px;
}
.page-button1 {
    background-color: darkcyan;
    color: ivory;
    border-radius: 7px;
    margin: 2px 650px;
    padding: 3px;
    display: inline-block;
}
.page-button2 {
    background-color: darkcyan;
    color: ivory;
    border-radius: 7px;
    margin: 2px 650px;
    padding: 3px;
    display: inline-block;
}

.button:hover {
    color: lawngreen;
}

.button:active{
    transform: scale(0.98);
}

.bags{
    height: 200px;
    border: 3px solid darkcyan;
    border-radius: 15px;
    margin: 5px;
}

.weather {
    margin-top: 25px;
    border-radius: 15px;
    text-align: center;
    width:95%;
}

.emergency-pics {
    border-radius: 15px;
    margin: 10px;
    width:270px;
    height:200px;
    position: relative;
}
.emergency-list {
    color:#D3D3D3;
    border: 3px solid darkcyan;
    background-color: rgb(5, 82, 82);
    border-radius: 15px;
    list-style: none ;
    line-height: 1.5em;
    padding: 0px;
    text-align: center;
}

.emerg-text {
    background-color: rgb(5, 82, 82);
    border-radius: 15px;
    padding: 5px;
    border: 3px solid black;
    color: white;
    top:625px;
    left: 340px;;
    position: absolute;
}
.emerg-text1 {
    background-color: rgb(5, 82, 82);
    border-radius: 15px;
    padding: 5px;
    border: 3px solid black;
    color: white;
    top:625px;
    left: 690px;;
    position: absolute;
}
.emerg-text2 {
    background-color: rgb(5, 82, 82);
    border-radius: 15px;
    padding: 5px;
    border: 3px solid black;
    color: white;
    top:625px;
    left: 1027px;;
    position: absolute;
}
.emerg-text3 {
    background-color: rgb(5, 82, 82);
    border-radius: 15px;
    padding: 5px;
    border: 3px solid black;
    color: white;
    top:875px;
    left: 484px;;
    position: absolute;
}
.emerg-text4 {
    background-color: rgb(5, 82, 82);
    border-radius: 15px;
    border: 3px solid black;
    padding: 5px;
    color: white;
    top:875px;
    left: 787px;;
    position: absolute;
}

.bag-list {
    background-color: rgb(5, 82, 82);
    font-weight: bold;
    color: ivory;
    border-radius: 15px;
    line-height: 1.5em;
    padding: 20px 50px;
}

.bag-icon {
    width:35px;
    height: auto;
}

.emerg-inline {
    display:inline-block;
    margin: 10px;
}

.my-form {
    padding: 20px;
    text-align: center;
}

.my-form .formGroup {
    padding-bottom: 15px;
}

.my-form label{ 
    display: block;
    margin: 5px 225px;
}

.my-form input[type="text"] {
    padding: 8px;
    width: 50%;
    border-radius: 7px;
}

.my-form input[type="password"] {
    padding: 8px;
    width: 50%;
    border-radius: 7px;
    margin: 5px 250px;

}

.my-form textarea{
    padding: 8px;
    width: 50%;
    height: 100px;
    border-radius: 7px;
}

.block {
    float: left;
}


#sent   {
    text-align: center;
}

.my-form2 {
    padding: 20px;
    display: inline;
    
}

.my-form2 .form-group2 {
    padding-bottom: 15px;
    padding-left: 100px;
    display: inline;
}

.my-form2 label{ 
    display: block;
    margin: 5px;
    display: inline;
}

.my-form2 input[type="text"] {
    padding: 8px;
    width: 25%;
    border-radius: 7px;
    margin: 5px;
    display: inline;

}

.login {
    background-color: darkcyan;
    color: ivory;
    border-radius: 7px;
  
}

.login:hover {
    color: lawngreen;
    
}

.register {
    background-color: darkcyan;
    color: ivory;
    border-radius: 7px;
    margin-left: 47%;
  
}

.register:hover {
    color: lawngreen;
}

.my-form3 {
    padding: 20px;
}

.my-form3 .form-group3 {
    padding-bottom: 15px;
}

.my-form3 label{ 
    display: block;
    margin: 5px 225px;
}

.my-form3 input[type="text"] {
    padding: 8px;
    width: 50%;
    border-radius: 7px;
    margin: 5px 250px;

}

.my-form3 input[type="password"] {
    padding: 8px;
    width: 50%;
    border-radius: 7px;
    margin: 5px 250px;

}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success{
    color: green;
}
.form__message--error{
    color: red;
}

/*.form__input{
    border-color: green;
}*/

.form__input--error{
    color: red;
    border-color: red;
}

.form__input-error-message{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    color: red;
    text-align: center;
}
.form__input-success-message{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    color: green;
    text-align: center;
}

.form--hidden{
    display: none;
}

.checkbox {
    margin-left: 250px;
}


@media only screen and (min-width: 768px) {

    p {
        text-align: center;
        line-height: 1.2em;
        margin: 24px 70px;
        font-size: 24px;
    }

    #the-title {
        font-size: 40px;
    }

    .inline {
        font-size: 24px;
    }

    .bag-list {
        padding: 20px 50px;
        margin: 25px 70px;
    }

    .emergency-list {
        margin: 24px 100px;
    }

    .weather {
        width:90%;
        height:auto;
        margin-top: 20px;
    }

}